.map {
    width:400px;
    height:400px;
    border-radius: 50%;
    border: 5px solid gray;
    box-shadow: 0px 0px 40px 1px gray;

}

.busker-name{
    width: auto;
    height:auto;
    font-size: small;
    background-color: white;
    border-left: 2px solid tomato;
}

.buskers img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:5px solid rgb(209, 209, 209);
    display: flex;
}

.homeMap{
    background-color: rgb(214,230,240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 250px;
}
