.map {
    width:400px;
    height:400px;
    border-radius: 50%;
    border: 5px solid gray;
}

.buskers-img img{
    height: 50px;
    width:50px;
    border-radius: 50%;
    border:5px solid rgb(209, 209, 209);
}