body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(129, 207, 252);
  color: black;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}

.function ul {
  list-style: none;
}

.element {
  margin-left: 100px;
  margin-right: 100px;
  float: left;
  display: flex;
}
