*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

ul, ol, li { list-style: none; }

a { text-decoration: none; }

body {
    height: 100%; font-family: '맑은 고딕', 'Malgun Gothic', sans-serif; font-size: 16px; letter-spacing: -1px; color: #444; white-space: normal;
    word-wrap: break-word; line-height: 1;
}

